In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df= pd.read_excel('Online Retail.xlsx')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## REMOVING CANCELLED COLUMNS

In [5]:
df1=df[df['InvoiceNo'].str.contains('C')!=True]
df1.count()

InvoiceNo      532621
StockCode      532621
Description    531167
Quantity       532621
InvoiceDate    532621
UnitPrice      532621
CustomerID     397924
Country        532621
dtype: int64

## CHECKING FOR NULL VALUES

In [6]:
df1.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     134697
Country             0
dtype: int64

## DROPPING NULL VALUES

In [7]:
df1.dropna(inplace=True)
df1

C:\Users\ACER\AppData\Local\Temp\ipykernel_7104\2978808617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

##  ANALYSIS

## CALCULATING FOR TOTAL SALES(REVENUE)

In [8]:
df1['Revenue']= df1['Quantity'] * df1['UnitPrice']
df1

C:\Users\ACER\AppData\Local\Temp\ipykernel_7104\1918969297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Revenue']= df1['Quantity'] * df1['UnitPrice']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

## TOTAL REVENUE

In [16]:
Total_revenue=df1.agg({'Revenue':'sum'}).reset_index()
Total_revenue

     index            0
0  Revenue  8911407.904

## TOTAL QUANTITY

In [ ]:
df1.agg({'Quantity':'sum'}).reset_index()

## TOP TEN PRODUCT ACCRUING THE MOST REVENUE

In [ ]:
MRP= df1.groupby(['Description']).agg({'Revenue':'sum'}).reset_index().sort_values(by='Revenue',ascending=False)
One=MRP.head(10)
One

## BINNING THE TOP PRODUCTS(REVENUE) INTO THREE CATEGORIES(HIGH PRICE,MEDIUM PRICE, LOW PRICE) 

## This is to ascertain the reason why these products accrued the most revenue

In [ ]:
Labels=['Low_Price','Med_Price','High_Price']
df1['Price_range']=pd.qcut(df1["UnitPrice"],q=3,labels=Labels)
df1

## REVENUE PRODUCTS UNDER HIGH PRICE ANALYSIS

In [ ]:
High=df1[df1['Price_range']=='High_Price'].sort_values(by='Price_range',ascending=False)
High.head(10)

In [ ]:
High_Price=High.groupby("Description")["Revenue"].sum().reset_index().sort_values(by='Revenue',ascending=False)
A=High_Price.head(10)
A

## MERGING PRODUCTS UNDER THE TOP TEN REVENUE PRODUCTS WITH THOSE UNDER THE HIGH PRICE CATEGORY

In [ ]:
One.merge(A,on="Description")

## REVENUE PRODUCTS UNDER MEDIUM PRICE ANALYSIS

In [ ]:
Med=df1[df1['Price_range']=='Med_Price'].sort_values(by='Price_range',ascending=False)
Med.head(10)

In [ ]:
Med_Price=Med.groupby('Description')['Revenue'].sum().reset_index().sort_values(by='Revenue',ascending=False)
B=Med_Price.head(10)
B

## MERGING PRODUCTS UNDER THE TOP TEN REVENUE PRODUCTS WITH THOSE UNDER THE MEDIUM PRICE CATEGORY

In [ ]:
One.merge(B,on='Description')

## REVENUE PRODUCTS UNDER LOW PRICE ANALYSIS

In [ ]:
Low=df1[df1['Price_range']=='Low_Price'].sort_values(by='Price_range',ascending=False)
Low.head(10)

In [ ]:
Low_Price=Low.groupby('Description')['Revenue'].sum().reset_index().sort_values(by='Revenue',ascending=False)
C=Low_Price.head(10)
C

## MERGING PRODUCTS UNDER THE TOP TEN REVENUE PRODUCTS WITH THOSE UNDER THE LOW PRICE CATEGORY

In [ ]:
One.merge(C,on='Description')

## ANALYSIS
 
## From the analysis, it has been found that high_priced/medium-priced products accrued the most revenue
## ADVICE:
## 1.Reward frequent high-spenders with gifts and access to new products.
## 2.Follow-up emails: “How did you like it?” This helps to build trust
## 3.Maintenance tips or usage guides for the premium product
## 4.Offer limited discounts on lesser-known products to recent buyers of premium ones.

## TOP TEN PRODUCT BASED ON QUANTITY

In [ ]:
Most_sold= df1.groupby(['Description']).agg({'Quantity':'sum'}).reset_index().sort_values(by='Quantity',ascending=False)
Two= Most_sold.head(10)
Two

## SEGMENTNG THEM INTO THREE GROUPS TO UNDERSTAND WHY THESE PRODUCTS WERE BOUGHT THE MOST

In [ ]:
labels=['Low','Medium','High']
df1['Categories']=pd.qcut(df1['Quantity'],q=3,labels=labels)
df1

## HIGH PRICE

In [ ]:
HP= df1[df1['Categories']=='High'].sort_values(by='Categories',ascending=False)
HP.head(10)

In [ ]:
High_Quan=HP.groupby('Description')['Quantity'].sum().reset_index().sort_values(by='Quantity',ascending=False)
D=High_Quan.head(10)
D

In [ ]:
Two.merge(D,on='Description')

## MEDIUM PRICE

In [ ]:
MP= df1[df1['Categories']=='Medium'].sort_values(by='Categories',ascending=False)
MP.head(10)

In [ ]:
Medium_Price=MP.groupby('Description')['Quantity'].sum().reset_index().sort_values(by='Quantity',ascending=False)
E=Medium_Price.head(10)
E

In [ ]:
Two.merge(E,on='Description')

## LOW PRICE

In [ ]:
LP=df1[df1['Categories']=='Low'].sort_values(by='Categories',ascending=False)
LP

In [ ]:
Low_Price= LP.groupby('Description')['Quantity'].sum().reset_index().sort_values(by='Quantity',ascending=False)
F=Low_Price.head(10)
F

In [ ]:
Two.merge(F,on='Description')

## ANALYSIS
## From the analysis, it has been found that high_priced/medium-priced products were bought mostly by Customers.
## ADVICE
## 1. Don't lower the price, enhance the perceived value.
## 2. Add after-sale perks: warranties, guides, personalized support
## 3. Send personalized offers, sneak peeks, and upgrades
## 4. Bundle high and low products together. This spreads exposure to other products without harming revenue.

## CUSTOMER ANALYSIS BEHAVIOUR

## TOP CUSTOMERS BY QUANTITY

In [ ]:
Top_clients_by_Q= df1.groupby(['CustomerID']).agg({'Quantity':'sum'}).reset_index().sort_values(by='Quantity',ascending=False)
TQ=Top_clients_by_Q.head(10)
TQ

## TOP CUSTOMERS BY REVENUE

In [ ]:
Top_clients= df1.groupby(['CustomerID']).agg({'Revenue':'sum'}).reset_index().sort_values(by='Revenue',ascending=False)
T=Top_clients.head(10)
T

## CALCULATING CUSTOMERS' PURCHASE RECENCY

In [14]:
max_date=df1['InvoiceDate'].max()
max_date

Timestamp('2011-12-09 12:50:00')

In [12]:
Last_Date=df1.groupby('CustomerID')['InvoiceDate'].max().reset_index()
Last_Date.columns=['CustomerID','LastPurchaseDate']
Last_Date.head(10)

   CustomerID    LastPurchaseDate
0     12346.0 2011-01-18 10:01:00
1     12347.0 2011-12-07 15:52:00
2     12348.0 2011-09-25 13:13:00
3     12349.0 2011-11-21 09:51:00
4     12350.0 2011-02-02 16:01:00
5     12352.0 2011-11-03 14:37:00
6     12353.0 2011-05-19 17:47:00
7     12354.0 2011-04-21 13:11:00
8     12355.0 2011-05-09 13:49:00
9     12356.0 2011-11-17 08:40:00

In [ ]:
Last_Date['RecencyDays'] = (max_date - Last_Date['LastPurchaseDate']).dt.days
G=Last_Date.sort_values(by='RecencyDays',ascending=False)
G.head(150)

## BINNING OUR CUSTOMERS INTO TWO GROUPS(FREQUENT AND SEASONAL CUSTOMERS)

In [ ]:
Labels=['Frequent_Customers','Seasonal_Customers']
G['Customer_Status']= pd.qcut(G['RecencyDays'],q=2,labels=Labels)
Cus_Stat=G.head(20).sort_values(by='RecencyDays',ascending=False)
Cus_Stat

In [ ]:
G['Customer_Status'].value_counts().plot(kind='pie', autopct='%1.1f%%', title='Customer Proportion by Recency')

## CUSTOMERS WITH THE MOST ENTRIES

In [ ]:
Entries=df1.groupby('CustomerID').agg({'InvoiceNo':'nunique',"Revenue":"sum"}).reset_index().sort_values(by='Revenue',ascending=False)
Entries.columns=['CustomerID','Entries','Revenue']
H=Entries
H

In [ ]:
merging=G.merge(H,on='CustomerID')
merging.sort_values(by="Revenue",ascending=False).head(10)

## TOP SALES BY COUNTRY

In [ ]:
Country_data=df1.groupby('Country').agg({'Revenue':'sum'}).reset_index().sort_values(by='Revenue',ascending=False)
K=Country_data.head(10)
K

In [ ]:
K.plot(kind='bar',x='Country',y='Revenue',title='Top Countries by Revenue')
plt.xlabel('Countries')
plt.ylabel('Revenue')
plt.xticks(rotation=45)

## COUNT OF CUSTOMERS FOR TOP(10) REVENUE COUNTRY

In [ ]:
TC=df1.groupby(['Country']).agg({'CustomerID':'count','Revenue':'sum'}).reset_index().sort_values(by='Revenue',ascending=False).head(10)
TC

In [ ]:
TC.plot(kind='barh',x='Country',y='Revenue',title='Top Customers by Revenue')
plt.xlabel('Top_Customers')
plt.ylabel('Revenue')
plt.xticks(rotation=45)

## TOP TEN CUSTOMERS BY REVENUE AND COUNTRY

In [ ]:
df1.groupby(['Country','CustomerID']).agg({'Revenue':'sum'}).reset_index().sort_values(by='Revenue',ascending=False).head(10)

## AVERAGE BASKET SIZE

In [20]:
Basket_per_transaction=df1.groupby('InvoiceNo').agg({'Quantity':'sum'})
Basket_per_transaction.sort_values(by='Quantity',ascending=False)

           Quantity
InvoiceNo
581483        80995
541431        74215
556917        15049
563076        14730
572035        13392
...             ...
541505            1
546328            1
561895            1
546329            1
575967            1

[18536 rows x 1 columns]

In [21]:
Average_Basket_size= Basket_per_transaction.mean()
Average_Basket_size

Quantity    279.547691
dtype: float64

## CUSTOMERS THAT THEIR NUMBER OF TRANSACTION IS ABOVE THE AVERAGE BASKET SIZE

In [24]:
mean_Quantity= 279.547691
mean= df1.groupby(['CustomerID']).agg({'InvoiceNo':'nunique','Revenue':'sum'}).reset_index().sort_values(by='Revenue',ascending=False)
mean.columns=['CustomerID','Number_Of_Purchase','Revenue']
mean

      CustomerID  Number_Of_Purchase    Revenue
1690     14646.0                  74  280206.02
4202     18102.0                  60  259657.30
3729     17450.0                  46  194550.79
3009     16446.0                   2  168472.50
1880     14911.0                 201  143825.06
...          ...                 ...        ...
4099     17956.0                   1      12.75
3015     16454.0                   2       6.90
1794     14792.0                   1       6.20
3218     16738.0                   1       3.75
685      13256.0                   1       0.00

[4339 rows x 3 columns]

## CUSTOMERS THAT THEIR NUMBER OF TRANSACTION IS ABOVE THE AVERAGE BASKET SIZE

In [25]:
mean[mean['Number_Of_Purchase']>mean_Quantity]

Empty DataFrame
Columns: [CustomerID, Number_Of_Purchase, Revenue]
Index: []

## CUSTOMERS THAT THEIR NUMBER OF TRANSACTION IS BELOW THE AVERAGE BASKET SIZE

In [27]:
BM=mean[mean['Number_Of_Purchase']<=mean_Quantity]
BM.head(10).sort_values(by='Number_Of_Purchase',ascending=False)

      CustomerID  Number_Of_Purchase    Revenue
1880     14911.0                 201  143825.06
1690     14646.0                  74  280206.02
2703     16029.0                  63   81024.84
4202     18102.0                  60  259657.30
1334     14156.0                  55  117379.63
3729     17450.0                  46  194550.79
3772     17511.0                  31   91062.38
55       12415.0                  21  124914.53
3009     16446.0                   2  168472.50
0        12346.0                   1   77183.60

## TIME_BASED PURCHASING PATTERNS

In [ ]:
df1.set_index(['InvoiceDate'])
df1.head(10)

## HOURLY ANALYSIS

In [ ]:
df1['Hour']= df1['InvoiceDate'].dt.hour
df1

In [ ]:
Hourly_sales = df1.groupby('Hour')['Revenue'].sum()
Hourly_sales.sort_values(ascending=False)

In [ ]:
Hourly_sales.plot(x='Hour',y='Revenue',title='Total sales by hour')

## ANALYSIS
## From the above analysis, it is evident that sales are most made from the 7th hour up until the 16th hour.
## ADVICE
## 1.Increase staff presence during peak hours to improve service speed and customer experience.
## 2.Reduce labor costs by scaling down staffing outside this range.
## 3.Plan deliveries, restocking, and inventory checks before 7 AM or after 4 PM
## 4.Send emails, SMS, or ads outside the core hours so they arrive just before the peak.

## DAILY ANALYSIS

In [ ]:
df1['Weekday'] = df1['InvoiceDate'].dt.day_name()
df1

In [ ]:
Weekday_sales = df1.groupby('Weekday')['Revenue'].sum()
Weekday_sales.sort_values(ascending=False)

In [ ]:
Weekday_sales.plot(kind='line',x='Weekday',y='Revenue',title='Total sales by Days')

## ANALYSIS
## Sales mostly takes place on Thursdays.
## ADVICE
## 1.Staff up your customer support and fulfillment team on Thursdays
## 2.Stock and prep inventory by Wednesday EOD
## 3.Monitor site/server load if you’re online
## 4.Exclusive points, gifts, or cashback only on Thursday purchases
## 5.Launch "Thursday Deals" or "Thankful Thursday" promos.

## WEEKLY ANALYSIS

In [ ]:
df1['Week'] = df1['InvoiceDate'].dt.isocalendar().week
df1

In [ ]:
Week = df1.groupby('Week')['Revenue'].sum()
Week.sort_values(ascending=False)

In [ ]:
Week.plot(kind='line',x='Week',y='Revenue',title='Total sales by Weeks')

## MONTHLY ANALYSIS

In [ ]:
df1['Month'] = df1['InvoiceDate'].dt.to_period('M').dt.to_timestamp()
df1

In [ ]:
Month= df1.groupby('Month')['Revenue'].sum()
Month.sort_values(ascending=False)

In [ ]:
Month.plot(kind='line',x='Month',y='Revenue',title='Total sales by Month')

## ANALYSIS
## Most sales took place in November
## ADVICE
## 1.Begin marketing in late October—don’t wait for November.
## 2.Send teasers, early access messages, and “wishlist” campaigns.
## 3.Offer early bird deals to secure spenders before competitors swoop in.
## 4.Stock the top products that got mostly sold out.
## 5.Prepare bundles and gift sets—they sell fast
## 6.Optimize pricing smartly.